/* Base Styles */
:root {
  --base-unit: 4px;
  --border-rounded: calc(var(--base-unit) * 2);

  --text-primary: #252525;
  --text-secondary: #576971;
  --text-tertiary: #565656;

  --horizontal-padding: calc(var(--base-unit) * 6);
}

/* tablet overrides */
@media screen and (min-width: 768px) {
  :root {
    --horizontal-padding: 10%;
  }
}

@media screen and (min-width: 1024px) {
  /* desktop */
  .hero {
    aspect-ratio: 21 / 9;
    min-height: 0;
    max-height: 85vh;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  font-family: "Graphik", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

a {
  /* I would prefer to disable the default and control this on a case-by-case basis throughout the project */
  text-decoration: none;
}

/* Divider */
.divider {
  color: black;
  border-color: black;
  opacity: 0.45;
}

.divider.sm {
  width: 4rem;
}

.divider.light {
  color: white;
  border-color: white;
}
