/* Root Component */
.video-collection {
  position: "relative";
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Grid */
.video-collection .grid {
  flex: 1;
  padding: 5% var(--horizontal-padding);

  display: grid;
  gap: calc(var(--base-unit) * 8);
}

.video-collection .grid {
  /* small devices */
  grid-template-columns: repeat(2, 1fr);
}

@supports (-webkit-touch-callout: none) {
  @media screen and (max-width: 768px) {
    /* specifically mobile devices */

    .video-collection .grid {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      gap: calc(var(--base-unit) * 4);

      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .video-collection .grid::-webkit-scrollbar {
      display: none;
    }

    .video-collection .grid .item {
      min-width: 65vw;
    }
  }
}

@media screen and (min-width: 768px) {
  /* tablets */
  .video-collection .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  /* desktop */
  .video-collection .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Corrections for Item components rendered specifically in the Video Collection */
.video-collection .item {
  flex: 1;
}
